params.slurm_account = null
params.singularity_cache = "${launchDir}/singularity_cache"

process {
    executor = 'slurm'
    clusterOptions = "--account=${params.slurm_account}"
   
    
    withName: TRIM {
        cpus = 4
        memory = '8GB'
        time = '2h'
    }
    withName: ALIGN {
        cpus = 8
        memory = '32GB'
        time = '4h'
    }
    withName: COUNT {
        cpus = 4
        memory = '16GB'
        time = '2h'
    }


}

executor {
    queueSize = 50
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${params.singularity_cache}"
}

docker {
    enabled = false
}


profiles {
    singularity {
        singularity.enabled = true
        docker.enabled = false
    }
}
